.Registration {
  background-color: #323232;
  height: 33rem;
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.Registration .Header-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.Registration .Header-Container h1 {
  color: #eeeeee;
}

.Registration .Input-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}

.Registration .Button-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 8rem;
}

.Input-Container input {
  border-radius: 1rem;
  background-color: #404040;
  border: 0;
  height: 4rem;
  width: 25rem;
  font-size: 1rem;
  color: #eeeeee;
}

.Button-Container button {
  background-color: #0d7377;
  border-radius: 1rem;
  border: 0;
  height: 3rem;
  width: 10rem;
  transition: 0.25s;
  font-size: 1.2rem;
  font-weight: 700;
  color: #eeeeee;
}

.Button-Container a {
  font-size: 0.85rem;
  color: #eeeeee;
}

.Button-Container button:hover {
  background-color: #14ffec;
}
